.loader {
    display: inline-block;
    width: 150px;
    height: 150px;
    position: relative;
  }
  
  .loader-image {
    width: 100%;
    height: 100%;
    border-radius: 50%; 
    animation: spin 1s linear infinite; 
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  